/* 重置 Ant Design Layout 组件的默认样式 */
.ant-layout {
  background: transparent !important;
}

.ant-layout-content {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent !important;
}

.ant-layout-header {
  padding: 0 16px !important;
  margin: 0 !important;
  /* background: transparent !important; */
}

.ant-layout-footer {
  padding: 0 !important;
  margin: 0 !important;
  /* background: transparent !important; */
}

.ant-float-btn-group .ant-float-btn-close,
.ant-float-btn-group .ant-float-btn-group-trigger {
  display: none !important;
}
